{% extends "./plantilla.html" %}
{% block body %}
    <h1>EVENTOS</h1>
    <br>
    
    <!-- Tabla para mostrar los eventos -->
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for eventoTemporal in Eventos %}
            <tr>
                <td>{{ eventoTemporal.titulo }}</td>
                <td>{{ eventoTemporal.descripcion }}</td>
                <td>{{ eventoTemporal.categoria }}</td>
                <td>
                    <a href="/editarEvento/{{ eventoTemporal.titulo }}" class="btn btn-warning">Editar</a>
                    <a href="/eliminarEvento/{{ eventoTemporal.titulo }}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
